<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>Login</title>
  </head>
  <body>
    <%-include('includes/navegation')%>
    <h1>Blog</h1>
    <form class="main__form" action="/blog" method="POST">
      <div class="main__form-container">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" />
      </div>
      <div class="main__form-container">
        <label for="text">Text</label>
        <textarea name="text" id="text"></textarea>
      </div>

      <button class="btn" type="submit">Add</button>
      <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
    </form>
    <ul class="blog">
      <%posts.forEach(post =>{%>
      <li>
        <%=post.text%>
        <br />
        <form action="/delete" method="POST">
          <button class="btn" type="submit">Delete</button>
          <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
          <input type="hidden" name="id" value="<%=post.id%>" />
        </form>
      </li>
      <%})%>
    </ul>
  </body>
</html>
