<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="style.css" />
    <title>Login</title>
  </head>
  <body>
    <%-include('includes/navegation')%>
    <h1>Home page</h1>
    <ul class="blog">
      <%posts.forEach(post =>{%>
      <li>
        <h3><%=post.name%></h3>
        <%=post.text%>
        <!-- <br />
        <form action="/delete" method="POST">
          <button class="btn" type="submit">Delete</button>
          <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
          <input type="hidden" name="id" value="<%=post.id%>" />
        </form> -->
      </li>
      <%})%>
  </body>
</html>
